@model LightNorma.Models.IlluminanceSet


<div class="container-fluid">
    <div class="p-1">
        @Html.LabelFor(model=>model.SP52IlluminanceId)
    </div>
    <div class="p-1">        
        <div class="row">            
            <div class="col-xl-2">
                @Html.DropDownListFor(model => model.SP52IlluminanceId, ViewBag.SP52Illuminances as SelectList, null, new { @class = "form-select" })
            </div>
            <div class="col-xl-2">
                @Html.DropDownListFor(model => model.TypeName, ViewBag.TypeNames as SelectList, null, new { @class = "form-select" })
            </div>
            <div class="col-xl-1">
                @Html.EditorFor(model => model.IllumHeight, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-xl-2">
                @Html.TextAreaFor(model => model.AdditionalPlaneInfo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="p-1">
        <div class="row">
            <div class="col-xl-2">               
            </div>
            <div class="col-xl-1">
                oX:
                @Html.EditorFor(model => model.OXAngleNormal, new { htmlAttributes = new { @class = "form-control", id="OXAngleNormal"}} )
            </div>
        </div>
    </div>
    <div class="p-1">
        <div class="row">
            <div class="col-xl-2">
            </div>
            <div class="col-xl-1">
                oY:
                @Html.EditorFor(model => model.OYAngleNormal, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <div class="p-1">
        <div class="row">
            <div class="col-xl-2">
            </div>
            <div class="col-xl-1">
                oZ:
                @Html.EditorFor(model => model.OZAngleNormal, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
</div>




