@model IEnumerable<LightNorma.Models.IndustrialLightNormaSet>




<table border="1">
    @foreach (var ilns in Model)
    {
    <tr id=@ilns.Id.ToString()>
        <td width="2%"> @Html.ActionLink("Edit", "Edit", "IndustNorma", null, null, "editFormPlace", new { id = ilns.Id }, null)</td>
        <td width="1%"> @Html.ActionLink("Del", "Delete", null, null, null, null, new { id = ilns.Id }, new { id = "DeleteLink" })</td>
        <td width="2%">@ilns.Id</td>
        <td width="9%">@ilns.EyeAccuracy</td>

        @if (@ilns.MinObjectSize0 != null && @ilns.MinObjectSizeN != null)
        {
            <td width="8%"> от @ilns.MinObjectSize0 до @ilns.MinObjectSizeN </td>
        }
        else if (@ilns.MinObjectSize0 == null && @ilns.MinObjectSizeN != null)
        {
            <td width="8%"> более @ilns.MinObjectSizeN </td>
        }
        else if (@ilns.MinObjectSize0 != null && @ilns.MinObjectSizeN == null)
        {
            <td width="8%"> менее @ilns.MinObjectSize0 </td>
        }
        else
        {
            <td width="8%">  </td>
        }

        <td width="6%">@Html.DisplayFor(ilns_ => ilns.SP52IndustrialWorkRank.Value)</td>
        <td width="6%">@Html.DisplayFor(ilns_ => ilns.SP52IndustrialWorkSubRank.Value)</td>
        <td width="5%">@Html.DisplayFor(ilns_ => ilns.SP52BackgroundContrast.Value)</td>
        <td width="9%">@Html.DisplayFor(ilns_ => ilns.SP52BackgroundCharacteristic.Value)</td>
        <td width="3%">@Html.DisplayFor(ilns_ => ilns.CombinedTotalIlluminance.Value)</td>
        <td width="7%">@Html.DisplayFor(ilns_ => ilns.CombinedCommonPartIlluminance.Value)</td>
        <td width="6%">@Html.DisplayFor(ilns_ => ilns.CommonIlluminance.Value)</td>
        <td width="4%">@ilns.UGR</td>
        <td width="4%">@ilns.FF</td>
        <td width="7%">@ilns.NaturalTopOrCombinedDF</td>
        <td width="6%">@ilns.NaturalSideDF</td>
        <td width="10%">@ilns.NatArtifTopOrCombinedDF</td>
        <td width="5%">@ilns.NatArtifSideDF</td>
    </tr>
    }
</table>

