@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LightNorma.Models.IndustrialLightNormaSet
{
    Layout = null;
}
<html>
<head>
    <title>
        СП 52.13330.2016
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <h2>Редактировать запись</h2>
    <h3>Таблица 4.1- Требования к освещению помещений промышленных предприятий</h3>
    <table border="1" width="100%">
        <tr>
            <td rowspan="4" width="2%">Edit</td>
            <td rowspan="4" width="1%">Del</td>
            <td rowspan="4" width="2%">N№ поз.</td>
            <td rowspan="4" width="9%">Характеристика зрительной работы</td>
            <td rowspan="4" width="8%">Наименьший или эквивалентный размер объекта различения, мм</td>
            <td rowspan="4" width="6%">Разряд зрительной работы</td>
            <td rowspan="4" width="6%">Подразряд зрительной работы</td>
            <td rowspan="4" width="5%">Контраст объекта с фоном</td>
            <td rowspan="4" width="9">Характеристика фона</td>
            <td colspan="5">Искусственное освещение</td>
            <td colspan="2">Естественное освещение</td>
            <td colspan="2">Совмещенное освещение</td>
        </tr>
        <tr>

            <td colspan="3">Освещенность, лк</td>
            <td colspan="2">Сочетание нормируемых величин объединенного показателя дискомфорта UGR и коэффициента пульсации</td>
            <td colspan="4">КЕО ен, %</td>
        </tr>
        <tr>
            <td colspan="2">при системе комбинированного освещения</td>
            <td rowspan="2" width="6%">при системе общего освещения</td>
            <td rowspan="2" width="4%">UGR, не более</td>
            <td rowspan="2" width="4%">Кп, %, не более</td>
            <td rowspan="2" width="7%">при верхнем или комбинированном освещении</td>
            <td rowspan="2" width="6%">при боковом освещении</td>
            <td rowspan="2" width="10%">при верхнем или комбинированном освещении</td>
            <td rowspan="2" width="5%">при боковом освещении</td>
        </tr>
        <tr>

            <td width="3%">Всего</td>
            <td width="7%">В том числе от общего</td>

        </tr>

    </table>

    @await Html.PartialAsync("_GetIndex", ViewBag.DBup as List<LightNorma.Models.IndustrialLightNormaSet>)
    
    <a name="editFormPlace"></a>
    <form method="post" id="EditForm">
        <table>
            <tr>
                <td>Характеристика зрительной работы</td>
                <td>@Html.EditorFor(model => model.EyeAccuracy)</td>
            </tr>
            <tr>
                <td>Размеры объекта различения</td>
                <td>@Html.EditorFor(model => model.MinObjectSize0)</td>
                <td>@Html.EditorFor(model => model.MinObjectSizeN)</td>
            </tr>
            <tr>
                <td>Разряд/подразряд зрительной работы</td>
                <td>@Html.DropDownListFor(model => model.SP52IndustrialWorkRankId, ViewBag.SP52IndustrialWorkRanks as SelectList) </td>
                <td>@Html.DropDownListFor(model => model.SP52IndustrialWorkSubRankId, ViewBag.SP52IndustrialSubWorkRanks as SelectList) </td>
            </tr>
            <tr>
                <td>Контраст объекта с фоном/Характеристика фона</td>
                <td>@Html.DropDownListFor(model => model.SP52BackgroundContrastId, ViewBag.BackgroundContrasts as SelectList) </td>
                <td>@Html.DropDownListFor(model => model.SP52BackgroundCharacteristicId, ViewBag.SP52BackgroundCharacteristics as SelectList) </td>
            </tr>
            <tr>
                <td>Освещенность (комбинированный режим): Всего/От общего</td>
                <td>@Html.DropDownListFor(model => model.CombinedTotalIlluminanceId, ViewBag.CombinedTotalIlluminances as SelectList, "None") </td>
                <td>@Html.DropDownListFor(model => model.CombinedCommonPartIlluminanceId, ViewBag.CombinedCommonPartIlluminances as SelectList, "None") </td>
            </tr>
            <tr>
                <td>Освещенность (общее освешение)</td>
                <td>@Html.DropDownListFor(model => model.CommonIlluminanceId, ViewBag.CommonIlluminances as SelectList, "None") </td>
            </tr>
            <tr>
                <td>UGR/Кп</td>
                <td>@Html.EditorFor(model => model.UGR)</td>
                <td>@Html.EditorFor(model => model.FF)</td>
            </tr>
            <tr>
                <td>КЕО (Естественное освещ) верх-комбинир./боковое </td>
                <td>@Html.EditorFor(model => model.NaturalTopOrCombinedDF)</td>
                <td>@Html.EditorFor(model => model.NaturalSideDF)</td>
            </tr>
            <tr>
                <td>КЕО (Совмещенное освещ) верх-комбинир./боковое </td>
                <td>@Html.EditorFor(model => model.NatArtifTopOrCombinedDF)</td>
                <td>@Html.EditorFor(model => model.NatArtifSideDF)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Save" /> </td>

            </tr>
            <tr>
                <td>@Html.ActionLink("Cancel", "Create", null, null, null, @Model.Id.ToString(), null, null)</td>
                <td>@Html.ActionLink("Delete", "Delete", null, null, null, null, new { id = Model.Id }, new { id="DeleteLink"})</td>
            </tr>
        </table>
    </form>


    @await Html.PartialAsync("_GetIndex", ViewBag.DBdown as List<LightNorma.Models.IndustrialLightNormaSet>)


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $("body").on("submit", "#EditForm", function () {
            return confirm("Сохранить изменения?");
        });
    </script>
    <script type="text/javascript">
        $("body").on("click","#DeleteLink", function () {
            return confirm("Удалить запись?");
        });
    </script>

</body>
</html>
